<!-- inside app/views/welcome/index.html.erb -->  
<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container-fluid">
    <%= link_to "Home", root_path, class: "navbar-brand" %>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <% ScrapableAddress.all.each do |wallet| %>
          <li class="nav-item my-2 my-lg-0">
            <%= link_to wallet.name, wallet_path(wallet), class: "nav-link"  %>
          </li>
        <% end -%>
      </ul>
    </div>    
  </div>
</nav>
