<main>
  <section class="container-fluid">
    <div class="row">
      <div class="col-lg-1"></div>
      <div class="col-lg-10">
      	<h6>Erc20 Transactions</h6>
        <%= link_to "Export csv", erc20_transactions_path(format: :csv)  %>
      	<%= render partial: 'shared/transactions', locals: { transactions: @transactions, wallet: nil, wallets: ScrapableAddress.all }  %>
      </div>
    </div>
  </section>
</main>

